<div class="container">
  <div class="container-chatbox">
    <input type="text" id="chatbox">
 
  <div>
    <p id="messages"></p>
  </div>
   </div>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</div>